.sp__image{
    font-size: 22px;
    text-align: justify;
}

.sp__image img{
    width: 600px;
    height: 470px;
    border-radius: 11px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 10px;
}

.sp__image p{
    margin-bottom: 30px;
    color: white;
    font-size: 22px;
}