.reg__input{
    font-family: Century Gothic;
    src: url(/fonts/GothicA1-Regular.ttf);
    width: 92%;
    height: 60px;
    margin: 5px 0 0 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.reg__input:hover{
    border: 1px solid #38205E;
    transition: 0.3s ease;
}

.reg__input:focus{
    border: 2px solid black;
}