.sp__speciality-block{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    margin-top: 2%;
    border-radius: 11px;
    padding: 2%;
    text-decoration: none;
}