.university-block__link{
    display: flex;
    position: relative;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer; 
    margin-left: 70px;
    margin-top: 40px;
}