.sp__discipline{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26.666%;
    margin-bottom: 2%;
}

.sp__discipline label{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 75%;
}